@charset "UTF-8";

/* common
------------------------------*/
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.firebrick {
	color: firebrick;
}

/*
------------------------------*/
a.manual_link {
	display: inline-block;
	line-height: 26px;
	padding-left: 28px;
	background-image: url(images/help.png);
	background-repeat: no-repeat;
	background-position: left center;
}

span.inline_help {
	display: inline-block;
	width: 18px;
	background-image: url(images/info_3.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

span.icon_access_uu {
	display: inline-block;
	width: 20px;
	background-image: url(images/user_red.png);
	background-repeat: no-repeat;
	background-position: center center;
}

span.icon_access_pv {
	display: inline-block;
	width: 20px;
	background-image: url(images/access.png);
	background-repeat: no-repeat;
	background-position: center center;
}

span.icon_bookmark {
	display: inline-block;
	width: 20px;
	background-image: url(images/bookmark.png);
	background-repeat: no-repeat;
	background-position: center center;
}

span.icon_comment {
	display: inline-block;
	width: 20px;
	background-image: url(images/comment.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

div.knowhow_point_off {
	position: absolute;
	display: inline;
	color: silver;
}

div.knowhow_point_on {
	position: absolute;
	display: inline;
	color: darkorange;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}

/* pager
------------------------------*/
span.page_info_area {
	font-weight: bold;
}

div.pager_area {
	width: 100%;
	text-align: center;
}

span.pager_active {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

span.pager_active:hover {
	text-decoration: underline;
	color: red;
}

span.pager_inactive {
	text-decoration: underline;
	color: gray;
}

span.pager_mini_active {
	cursor: pointer;
	font-weight: bold;
	color: blue;
}

span.pager_mini_active:hover {
	color: red;
}

span.pager_mini_inactive {
	font-weight: bold;
	color: silver;
}

span.pager_separator {
	color: gray;
}

/* tag
------------------------------*/
div#tag_list_pager_mini_area {
	text-align: center;
	padding: 2px 0px;
}

div#tag_sample {
	text-align: center;
	padding: 2px 0px 4px 0px;
}

span.tag {
	display: inline-block;
	cursor: pointer;
	padding: 2px;
	margin: 2px;
	background-color: beige;
	border: 1px solid dimgray;
	font-size: 8pt;
	color: dimgray;
	background-color: beige;
}

span.tag:hover {
	text-decoration: underline;
}

span.tag.l_1 {

}

span.tag.l_2 {
	color: darkgreen;
	font-size: 8pt;
}

span.tag.l_3 {
	color: blue;
	font-size: 10pt;
}

span.tag.l_4 {
	font-weight: bold;
	color: red;
	font-size: 11pt;
}

span.tag.l_5 {
	font-weight: bold;
	color: red;
	font-size: 12pt;
	background-color: pink;
}

input#tag_search_words {
	width: 256px;
	line-height: 100%;
	padding: 0px 2px;
}

select#tag_list_click_type {
	width: 100%;
}

div#tag_list_area {
	text-align: center;
}