@charset "UTF-8";

/* errors
------------------------------*/
div#container {
	margin: 10px auto;
	border: 1px solid peru;
	border-radius: 10px;
	padding: 20px;
	background-color: linen;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
