@charset "UTF-8";

/* index
------------------------------*/
div#container {
	min-height: 1000px;
	margin: 10px auto;
	border: 1px solid peru;
	border-radius: 10px;
	padding: 20px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* target selector
------------------------------*/
div.target_selector_div {
	padding: 8px 10px;
	background-color: pink;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

select#tc {
	width: 400px;
	font-size: 17px;
	background-color: lavenderblush;
	border-radius: 4px;
	color: firebrick;
}

div.month_selector_div {
	margin-top: 10px;
	padding: 8px 10px;
	background-color: powderblue;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

select.month_select_select {
	font-size: 15px;
	background-color: azure;
	border-radius: 4px;
}

span.month_select_link {
	cursor: pointer;
	padding: 4px;
	text-decoration: underline;
	color: blue;
}

span.month_select_link:hover {
	color: red;
}

/* calendar
------------------------------*/
div.calendar_div {
	margin-top: 10px;
}

table.calendar_table {
	background-color: peru;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

table.calendar_table th,table.calendar_table td {
	border-bottom: 2px solid white;
}

table.calendar_table th.date_th {
	height: 30px;
	background-color: peachpuff;
}

table.calendar_table th.date_head_th {
	height: 20px;
}

table.calendar_table th.time_slot_th {
	text-align: left;
	padding-left: 6px;
	border-left: 1px solid white;
	font-weight: bold;
	color: white;
}

table.calendar_table tfoot th.date_head_th,
table.calendar_table tfoot th.time_slot_th {
	border-bottom: 0px;
}

table.calendar_table th.date_th {
	height: 24px;
}

table.calendar_table td {
	border-left: 1px dotted white;
	background-color: papayawhip;
}

table.calendar_table td.plot_td {
	cursor: pointer;
}

table.calendar_table td.plot_td.no_plotted {
	width: 26px;
}

table.calendar_table td.plot_td.plotted {
	background-color: darkkhaki;
}

table.calendar_table td.plot_td:hover {
	background-color: lightcoral;
}

table.calendar_table td.plot_td.border_left {
	border-left: 1px solid white;
}

table.calendar_table tr.today_tr th.date_th {
	background-color: #ff8859;
}

table.calendar_table tr.today_tr td.plot_td.no_plotted {
	background-color: #ffc8b2;
}

table.calendar_table tr.today_tr td.plot_td:hover {
	background-color: #ff4c00;
}
/* input dialog
------------------------------*/
div#input_dialog_div {
	position: fixed;
	z-index: 11;
	width: 400px;
	margin: 10px auto;
	border: 1px solid peru;
	border-radius: 10px;
	background-color: papayawhip;
	padding: 16px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div#input_dialog_title_div {
	margin-bottom: 10px;
	padding: 10px 10px;
	background-color: peru;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	cursor: help;
}

div#input_dialog_title_div span#target_name_display {
	font-weight: bold;
	font-size: 18px;
	color: white;
}

div#input_dialog_title_div span#booking_mode_display {
	font-size: 14px;
	color: white;
}

div.booking_require_items {
	margin-top: 10px;
	padding: 6px 10px;
	background-color: pink;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div.booking_items {
	margin-top: 10px;
	padding: 6px 10px;
	background-color: powderblue;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div.booking_require_items select {
	background-color: lavenderblush;
	border-radius: 4px;
	color: firebrick;
}

div.booking_items select {
	background-color: azure;
	border-radius: 4px;
}

div.booking_require_items input[type=text] {
	background-color: lavenderblush;
	border-radius: 4px;
	padding: 2px;
	line-height: 100%;
	width: 290px;
}

div.booking_items input[type=text] {
	background-color: azure;
	border-radius: 4px;
	padding: 2px;
	line-height: 100%;
	width: 290px;
}

div.booking_items textarea {
	background-color: azure;
	border-radius: 4px;
	padding: 3px;
	width: 370px;
	height: 68px;
	overflow-y: scroll;
}

div.input_dialog_button {
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-left: 4px;
	cursor: pointer;
	text-align: center;
	width: 80px;
	padding: 6px 8px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div#input_dialog_close_button {
	width: 84px;
	background-color: powderblue;
}

div#input_dialog_close_button:hover {
	width: 84px;
	background-color: skyblue;
}

div#input_dialog_save_button {
	background-color: pink;
}

div#input_dialog_save_button:hover {
	background-color: lightcoral;
}

div#input_dialog_copy_button {
	background-color: peachpuff;
}

div#input_dialog_copy_button:hover {
	background-color: orange;
}

div#input_dialog_save_continuous_button {
	background-color: peachpuff;
}

div#input_dialog_save_continuous_button:hover {
	background-color: orange;
}

div#input_dialog_cancel_button {
	margin-left: 0px;
	background-color: gainsboro;
}

div#input_dialog_cancel_button:hover {
	margin-left: 0px;
	background-color: firebrick;
	color: white;
}

/* maintenance
------------------------------*/
div.target_maintenance_button {
	display: inline-block;
	float: right;
	cursor: pointer;
	text-align: center;
	width: 220px;
	margin-top: 2px;
	padding: 6px 8px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	background-color: peachpuff;
}

div.target_maintenance_button:hover {
	background-color: orange;
}

div#target_maintenance_dialog_div {
	position: fixed;
	z-index: 11;
	width: 1000px;
	margin: 10px auto;
	border: 1px solid peru;
	border-radius: 10px;
	background-color: papayawhip;
	padding: 16px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div#target_maintenance_dialog_title_div {
	margin-bottom: 10px;
	padding: 10px 10px;
	background-color: peru;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	font-size: 18px;
	color: white;
}

div.target_maintenance_require_items {
	margin-top: 10px;
	padding: 6px 10px;
	background-color: pink;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div.target_maintenance_require_items input[type=text] {
	background-color: lavenderblush;
	border-radius: 4px;
	padding: 2px;
	line-height: 100%;
	width: 290px;
}

div.target_maintenance_require_items textarea {
	background-color: lavenderblush;
	border-radius: 4px;
	padding: 3px;
	margin-bottom: 6px;
	line-height: 100%;
	width: 99%;
	height: 200px;
	overflow-y: scroll;
}

div.target_maintenance_dialog_button {
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-left: 4px;
	cursor: pointer;
	text-align: center;
	width: 80px;
	padding: 6px 8px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

div#target_maintenance_dialog_close_button {
	width: 84px;
	background-color: powderblue;
}

div#target_maintenance_dialog_close_button:hover {
	width: 84px;
	background-color: skyblue;
}

div#target_maintenance_dialog_save_button {
	background-color: pink;
}

div#target_maintenance_dialog_save_button:hover {
	background-color: lightcoral;
}
