@charset "UTF-8";

/* reset
------------------------------*/
body,div,span,fieldset,legend,p,blockquote,ol,ul,li,dl,dt,dd,table,tr,th,td,h1,h2,h3,h4,h5,h6,form,input,select,textarea,a
{
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 120%;
	border-collapse: collapse;
	border-spacing: 0;
	word-break: break-all;
	word-wrap: break-word;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

li {
	list-style-type: none;
}

label {
	cursor: pointer;
}

img {
	border: 0px;
	vertical-align: bottom;
}

a:active,a:focus {
	outline: none;
}

a:link,a:visited,a:hover,a:active {
	cursor: pointer;
}

input[type=text],input[type=password],select {
	vertical-align: middle;
}

input[type=text],input[type=password] {
	line-height: 130%;
	height: 17px;
}

textarea {
	overflow: hidden;
}

a:hover {
	color: red;
}

@media print {
	.print_hide {
		visibility: hidden;
	}
}

/*
=========================================================
clearfix
=========================================================
*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */
