<style type="text/css"><!--
	div#now_loading {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 99;
		background: white;
		-moz-opacity: 0.4;
		opacity: 0.40;
		filter: Alpha(opacity = 40);
	}

	td#now_loading_td {
		text-align: center;
	}

	div#now_loading_message {
		background-image: url(<?php echo CSS_DIR; ?>images/loading.gif);
		background-repeat: no-repeat;
		background-position: center;
		font-size: 16px;
		font-weight: bold;
	}

	div#mask {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;
		background: white;
		-moz-opacity: 0.4;
		opacity: 0.40;
		filter: Alpha(opacity = 40);
	}

	--></style>

<div id="now_loading" style="display: none;">
	<table>
		<tr>
			<td id="now_loading_td">
				<div id="now_loading_message">
					<br /><br /><br /><br />
					データ送受信中です。しばらくお待ちください。
				</div>
			</td>
		</tr>
	</table>
</div>

<div id="mask" style="display: none;">
</div>

<script type="text/javascript">//<![CDATA[
	var DEBUG = <?php echo (DEBUG) ? 'true' : 'false'; ?>;
	var env = {
		index_url: location.protocol + '//' + location.hostname + '<?php echo INDEX_URL; ?>',
		con_name: '<?php echo $this->con_name; ?>',
		act_name: '<?php echo $this->act_name; ?>',
		content_type: 'application/x-www-form-urlencoded;charset=UTF-8'
	};
	var now_loading = {
		on: function () {
			document.getElementById('now_loading_td').style.height = document.documentElement.clientHeight + 'px';
			document.getElementById('now_loading_td').style.width = document.documentElement.clientWidth + 'px';
			document.getElementById('now_loading').style.display = 'block';
		},
		off: function () {
			document.getElementById('now_loading').style.display = 'none';
		}
	};
	now_loading.on();
	var mask =
			{
				layer: undefined,
				on: function ()
				{
					if (!mask.mask)
					{
						mask.layer = document.getElementById('mask');
					}
					mask.set_size();
					mask.layer.style.display = 'block';
				},
				set_size: function ()
				{
					if (!mask.mask)
					{
						mask.layer = document.getElementById('mask');
					}
					mask.layer.style.height = document.documentElement.clientHeight + 'px';
					mask.layer.style.width = document.documentElement.clientWidth + 'px';
				},
				off: function ()
				{
					mask.layer.style.display = 'none';
				}
			};
//]]></script>
