<div id="input_dialog_div">
	<form id="booking_form" onsubmit="return false;">
		<input type="text" id="booking_id" id="booking_id" style="display:none;" value="" />
		<input type="text" id="booking_update_datetime" id="booking_update_datetime" style="display:none;" value="" />

		<div id="input_dialog_title_div" title="<?php echo $target_information; ?>">
			<span id="target_name_display">
				<?php echo $target_name; ?>
			</span>
			<br />
			<span id="booking_mode_display">
			</span>
		</div>

		<div id="booking_datetime_div" class="booking_require_items"
			 title="【必須入力項目】<?php echo $title_br; ?>予約日時を入力して下さい。">
			利用日時：
			<select id="booking_date" name="booking_date">
				<?php for ($day = $start_date; $day < $next_month; $day = strtotime('+1 day', $day)) : ?>
					<option value="<?php echo date('Y/m/d', $day); ?>">
						<?php echo Common::formatDate('Y/m/d(w)', date('Y/m/d', $day)); ?>
					</option>
				<?php endfor; ?>
			</select>
			<select id="booking_start_time" name="booking_start_time">
				<?php
				$for_start = strtotime(date('Y/m/d ' . $time_slot_start, $start_date));
				$for_end = strtotime('-15 minutes ' . date('Y/m/d ' . $time_slot_end, $start_date));
				?>
				<?php for ($time_slot = $for_start; $time_slot <= $for_end; $time_slot = strtotime('+15 minutes', $time_slot)) : ?>
					<option value="<?php echo date('H:i', $time_slot); ?>">
						<?php echo date('H:i', $time_slot); ?>
					</option>
				<?php endfor; ?>
			</select>
			～
			<select id="booking_end_time" name="booking_end_time">
				<?php
				$for_start = strtotime('+15 minutes ' . date('Y/m/d ' . $time_slot_start, $start_date));
				$for_end = strtotime(date('Y/m/d ' . $time_slot_end, $start_date));
				?>
				<?php for ($time_slot = $for_start; $time_slot <= $for_end; $time_slot = strtotime('+15 minutes', $time_slot)) : ?>
					<option value="<?php echo date('H:i', $time_slot); ?>">
						<?php echo date('H:i', $time_slot); ?>
					</option>
				<?php endfor; ?>
			</select>
		</div>

		<div id="booking_title_div" class="booking_require_items"
			 title="【必須入力項目】<?php echo $title_br; ?>利用目的や会議体名など<?php echo $title_br; ?>わかりやすい名称を入力して下さい。">
			タイトル：<input type="text" id="booking_title" name="booking_title" value="" />
		</div>

		<div id="booking_user_name_div" class="booking_require_items"
			 title="【必須入力項目】<?php echo $title_br; ?>予約される方や代表者の方、もしくは<?php echo $title_br; ?>問い合わせ先の方のお名前を入力して下さい。">
			予約者名：<input type="text" id="booking_user_name" name="booking_user_name" value="" />
		</div>
		
		<!--【追記】所属部署　ここから↓ ------------------------------------------ -->
		<div id="booking_user_section_name_div" class="booking_items"
			 title="【任意入力項目】<?php echo $title_br; ?>所属部署を入力してください。">
			所属部署：<input type="text" id="booking_user_section_name" name="booking_user_section_name" value="" />
		</div>
		<!--【追記】所属部署　ここまで↑ 2019/03/22　伊良波------------------------ -->
		
		<!--【追記】内線番号　ここから↓ ------------------------------------------ -->
		<div id="booking_user_phone_number_div" class="booking_items"
			 title="【任意入力項目】<?php echo $title_br; ?>お問い合わせ先の方の<?php echo $title_br; ?>内線番号を入力してください。">
			内線番号：<input type="text" id="booking_user_phone_number" name="booking_user_phone_number" value="" />
		</div>
		<!--【追記】内線番号　ここまで↑ 2019/03/22　伊良波------------------------ -->
		
		<!--【追記】利用人数　ここから↓ ------------------------------------------ -->
		<div id="booking_member_count_div" class="booking_items"
			 title="【任意入力項目】<?php echo $title_br; ?>利用人数を入力してください。">
			利用人数：
			<select id="booking_member_count" name="booking_member_count">
				<?php for ($i = 1; $i < 30; $i++) : ?>
					<option value="<?php echo $i; ?>">
						<?php echo $i . '人'; ?>
					</option>
				<?php endfor; ?>
			</select>
		</div>
		<!--【追記】利用人数　ここまで↑ 2019/03/22　伊良波------------------------ -->
		
		<div id="booking_description_div" class="booking_items"
			 title="【任意入力項目】<?php echo $title_br; ?>利用目的の詳細や、参加者への通知事項など<?php echo $title_br; ?>自由に入力して下さい。">
			利用詳細・その他備考：<br />
			<textarea id="booking_description" name="booking_description"></textarea>
		</div>

		<div class="input_dialog_button" id="input_dialog_close_button"
			 onclick="input_dialog_controller.close();"
			 title="保存せずに画面を閉じます。<?php echo $title_br; ?>※編集中の内容は保存されません！">
			閉じる
		</div>

		<div class="input_dialog_button" id="input_dialog_save_button"
			 onclick="input_dialog_controller.save();"
			 title="編集中の内容を正式予約として保存します。">
			ボタン名
		</div>
	<!--【追記】削除ボタン ここから　↓-->
		<div class="input_dialog_button" id="input_dialog_cancel_button"
			 onclick="input_dialog_controller.cancel();"
			 title="編集中の内容を正式予約として保存します。">
			キャンセル
		</div>
	<!--【追記】削除ボタン ここまで　↓　2019/03/25 伊良波 -->
	</form>
</div>
