<div class="target_selector_div" title="【予約対象情報】<?php echo $title_br . $target_information; ?>">
	<form id="target_select_form" method="POST">
		予約対象選択：
<!--　　【廃止】　単一プルダウンメニュー　ここから↓-----------------------------------
		<select id="tc" name="tc" onchange="calendar_controller.target_change(this);">
			<option value="<?php // echo $booking_target[0]['code']; ?>"<?php // echo ($booking_target[0]['code'] === $target_code) ? $selected : ''; ?>>
				<?php // echo $booking_target[0]['name']; ?>
			</option>
		</select>
		【廃止】　単一プルダウンメニュー　ここまで↑ 2019/03/19 伊良波------------ -->
		<!--【改修1】　プルダウンメニュー全取得　ここから↓------------------------ -->
		<!-- select id="tc" name="tc" onchange="calendar_controller.target_change(this);">
			<?php
//			for ($index = 0; $index < count($booking_target); $index++){
//				echo '<option value = "';
//				echo $booking_target[$index]['code'];
//				echo '" ';
//				echo ($booking_target[$index]['code'] === $target_code) ? $selected : '';
//				echo '>';
//				echo $booking_target[$index]['name'];
//				echo '</option>';
//			}
			?>
		</select>
		<!--【改修1】　プルダウンメニュー全取得　ここまで↑ 2019/03/19 伊良波------- -->


		<!--【改修2】　プルダウンメニュー全取得　ここから↓------------------------ -->
<!--		<select id="tc" name="tc" onchange="calendar_controller.target_change(this);">
			<?php // for ($index = 0; $index < count($booking_target); $index++) : ?>
			<option value="<?php // echo $booking_target[$index]['code']; ?>"<?php // echo ($booking_target[$index]['code'] === $target_code) ? $selected : ''; ?>>
				<?php // echo $booking_target[$index]['name']; ?>
			</option>
			<?php // endfor; ?>
			?>
		</select>-->
		<!--【改修2】　プルダウンメニュー全取得　ここまで↑ 2019/03/19 伊良波------ -->

		<!--【改修3】　プルダウンメニュー全取得　ここから↓------------------------ -->
		<select id="tc" name="tc" onchange="calendar_controller.target_change(this);">
			<?php foreach ($booking_target as $item) : ?>
			<option value="<?php echo $item['code']; ?>"<?php echo ($item['code'] === $target_code) ? $selected : ''; ?>>
				<?php echo $item['name']; ?>
			</option>
			<?php endforeach; ?>
			?>
		</select>
		<!--【改修3】　プルダウンメニュー全取得　ここまで↑ 2019/03/19 伊良波------ -->


		<input type="text" id="tm" name="tm" style="display: none;"
			   value="<?php echo date($month_code_format, $start_date); ?>" />
	</form>
</div>
